
.top_bar{
	height: 5px;
	background-color: #C38579;
}

body{
	font-family: "Gulim";
}

.main_image{
	
	background-image: url(../images/6998276.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 300px;

}


.container{
	
}



h1.company_name{
	color: brown;
	margin-top: 60px;
	margin-left: 50px;
	font-size: 350%;
}



p.catch_copy{
	color: #3F3F3F;
	margin-left: 80px;
	font-size: 1.5em;
}


.row{
	text-align: center;
	font-family: "Dotum";
	background-color: rgba(185,175,170,0.03);
	
}


.row>h1{
	font-size: 200%;
	color:brown;
	
}


.row>h1:hover {
	text-decoration: underline;
}


