
.top_bar{
	height: 5px;
	background-color: #C38579;
}

body{
	font-family: "Gulim";
}

.jumbotron{
	position: relative;
	background-image: url(../images/6998276.jpg);
	background-repeat: no-repeat;
	background-size: 100%;

}


.container{
	
}

.row{
	text-align: center;
	font-family: "Dotum";
}



h1.company_name{
	color: brown;		
}



p.lead{
	color: #3F3F3F;
}
